<% layout('layout') -%>
<h1>Dashboard</h1>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Page Content</h5>
                <p class="card-text">Edit the content of your website's pages.</p>
                <a href="/admin/edit?page=index.html" class="btn btn-primary">Edit Home Page</a>
                <a href="/admin/edit?page=contact.html" class="btn btn-primary">Edit Contact Page</a>
                <a href="/admin/edit?page=portfolio.html" class="btn btn-primary">Edit Portfolio Page</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Portfolio Management</h5>
                <p class="card-text">Add, edit, or delete portfolio items.</p>
                <a href="/admin/portfolio" class="btn btn-primary">Manage Portfolio</a>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Website Backup</h5>
                <p class="card-text">Download a zip backup of your website.</p>
                <a href="/admin/backup" class="btn btn-primary">Backup Website</a>
            </div>
        </div>
    </div>
</div>
