<footer class="site-footer-bottom">
    <div class="button-container patreon-button-container">
      <a href="https://patreon.com/mriwu_u" class="patreon-button" data-tooltip="加入 Patreon，獲得獨家福利！" aria-label="Support me on Patreon">
        <span class="patreon-logo">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.386.524c-4.764 0-8.64 3.876-8.64 8.64 0 4.75 3.876 8.613 8.64 8.613 4.75 0 8.614-3.864 8.614-8.613C24 4.4 20.136.524 15.386.524M.003 23.537h4.22V.524H.003"/>
          </svg>
        </span>
        <span class="patreon-text">Support me on Patreon</span>
      </a>
    </div>

    <div class="center-wrap twitter-follow-button-container">
      <a href="https://x.com/mriwu_u" class="button twitter-follow-button">Follow me on Twitter</a>
    </div>

    <p class="copyright">Copyright &copy; <span id="copyright-year"></span> | Cervantes Wu</p>
    <!-- Log in link can be removed for a static site or kept if desired for some reason -->
    <!-- <div class="login-link"><a rel="nofollow" href="http://www.mriwu.us/wp-login.php?redirect_to=http%3A%2F%2Fwww.mriwu.us%2F">Log in</a></div> -->
</footer>